In [81]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('attendee2.xlsx')


df = df.drop([0], axis = 0)
df
df[['Month', 'Day', 'Year', 'JoinT']] = df['Join Time'].str.split(' ', expand=True)


idx = pd.Series(
    pd.date_range("2022-05-26 12:56:00", periods=290, freq="T")
)
df2 = {}
df1 = pd.DataFrame(index=idx, columns= ["katilimcilar"])
df1["katilimcilar"] = 0

def dummy(user, time, joint):
    date = "2022-05-26 "
    ti = list(joint)
    ti[6] = "0"
    ti[7] = "0"
    t = "".join(ti)
    indext = df1.index.get_loc(date + t)
    for i in range(indext, indext+int(time)+1):
        df1.iloc[i] += 1
      
        
for i in range(len(df)):
    user = df.iloc[i]["Email"]
    time = df.iloc[i]["Time in Session (minutes)"]
    joint = df.iloc[i]["JoinT"]
    dummy(user, time, joint)
 



##df1 = pd.Interval(pd.Timestamp('12:56:00'),
  ##                      pd.Timestamp('16:30:00'),
  ##                    closed='left')
##df

In [77]:
session = []
for row in df['JoinT']:
    if (df["JoinT"].between("13:30:00", "13:35:00").any() == True):
        session.append('Serdar Kuzuloğlu')
    elif (df["JoinT"].between("13:35:00", "13:45:00").any() == True):
        session.append('Hayriye Karadeniz (Digital Products and Services Lideri')
    else:         
        session.append('Not_Rated')

In [84]:
df1

                     katilimcilar
2022-05-26 12:56:00             1
2022-05-26 12:57:00             2
2022-05-26 12:58:00             2
2022-05-26 12:59:00             3
2022-05-26 13:00:00             7
...                           ...
2022-05-26 17:41:00             0
2022-05-26 17:42:00             0
2022-05-26 17:43:00             0
2022-05-26 17:44:00             0
2022-05-26 17:45:00             0

[290 rows x 1 columns]

KeyError: 1

In [89]:


"""
df1['katilimcilar'] = df1['katilimcilar'].astype(str).str.replace('-', '.')
df1[['Day','Hour']]=df1.katilimcilar.str.split(' ',expand=True)
"""

"\ndf1['katilimcilar'] = df1['katilimcilar'].astype(str).str.replace('-', '.', regex = False)\ndf1[['Day','Hour']]=df1.katilimcilar.str.split(' ',expand=True)\n"

In [6]:
 session = []
for row in df1['saat']:
    if "2022-05-26 13:30:00" < row < "2022-05-26 13:35:00" :   
        session.append('Serdar Kuzuloğlu')
    elif 2022-05-26 13:35:00 < row < 2022-05-26 13:45:00 :
        session.append('Hayriye Karadeniz (Digital Products and Services Lideri)-Hayriye Karadeniz')
    elif 2022-05-26 13:45:00 < row < 2022-05-26 13:55:00:
        session.append('Alev Kılıç Özdemir (Data & Otomasyon Tribe Lideri)')
        
    else:         
        session.append('Not_Rated')

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_26892/1241133903.py, line 5)

In [140]:
import pandas as pd 
import numpy as np 

dfdate = pd.read_excel('df1-before.xlsx')

In [141]:
dfdate

                   saat  katilimcilar
0   2022-05-26 12:56:00             1
1   2022-05-26 12:57:00             2
2   2022-05-26 12:58:00             2
3   2022-05-26 12:59:00             3
4   2022-05-26 13:00:00             7
..                  ...           ...
285 2022-05-26 17:41:00             0
286 2022-05-26 17:42:00             0
287 2022-05-26 17:43:00             0
288 2022-05-26 17:44:00             0
289 2022-05-26 17:45:00             0

[290 rows x 2 columns]

In [142]:
dfdate['dakika'] = dfdate['saat'].dt.time

In [143]:
dfdate

                   saat  katilimcilar    dakika
0   2022-05-26 12:56:00             1  12:56:00
1   2022-05-26 12:57:00             2  12:57:00
2   2022-05-26 12:58:00             2  12:58:00
3   2022-05-26 12:59:00             3  12:59:00
4   2022-05-26 13:00:00             7  13:00:00
..                  ...           ...       ...
285 2022-05-26 17:41:00             0  17:41:00
286 2022-05-26 17:42:00             0  17:42:00
287 2022-05-26 17:43:00             0  17:43:00
288 2022-05-26 17:44:00             0  17:44:00
289 2022-05-26 17:45:00             0  17:45:00

[290 rows x 3 columns]

In [115]:
dfdate.to_excel("df_date.xlsx")

In [144]:
dfdate = dfdate.set_index('saat')
deneme = dfdate.between_time('13:30:00','14:20:00')
deneme

                     katilimcilar    dakika
saat
2022-05-26 13:30:00           144  13:30:00
2022-05-26 13:31:00           204  13:31:00
2022-05-26 13:32:00           237  13:32:00
2022-05-26 13:33:00           258  13:33:00
2022-05-26 13:34:00           279  13:34:00
2022-05-26 13:35:00           297  13:35:00
2022-05-26 13:36:00           316  13:36:00
2022-05-26 13:37:00           327  13:37:00
2022-05-26 13:38:00           341  13:38:00
2022-05-26 13:39:00           356  13:39:00
2022-05-26 13:40:00           368  13:40:00
2022-05-26 13:41:00           378  13:41:00
2022-05-26 13:42:00           384  13:42:00
2022-05-26 13:43:00           389  13:43:00
2022-05-26 13:44:00           397  13:44:00
2022-05-26 13:45:00           400  13:45:00
2022-05-26 13:46:00           406  13:46:00
2022-05-26 13:47:00           411  13:47:00
2022-05-26 13:48:00           417  13:48:00
2022-05-26 13:49:00           420  13:49:00
2022-05-26 13:50:00           424  13:50:00
2022-05-26 13:51:00           428  13:51:00
2022-05-26 13:52:00           429  13:52:00
2022-05-26 13:53:00           430  13:53:00
2022-05-26 13:54:00           427  13:54:00
2022-05-26 13:55:00           421  13:55:00
2022-05-26 13:56:00           427  13:56:00
2022-05-26 13:57:00           424  13:57:00
2022-05-26 13:58:00           418  13:58:00
2022-05-26 13:59:00           403  13:59:00
2022-05-26 14:00:00           398  14:00:00
2022-05-26 14:01:00           398  14:01:00
2022-05-26 14:02:00           384  14:02:00
2022-05-26 14:03:00           379  14:03:00
2022-05-26 14:04:00           378  14:04:00
2022-05-26 14:05:00           369  14:05:00
2022-05-26 14:06:00           374  14:06:00
2022-05-26 14:07:00           369  14:07:00
2022-05-26 14:08:00           367  14:08:00
2022-05-26 14:09:00           362  14:09:00
2022-05-26 14:10:00           357  14:10:00
2022-05-26 14:11:00           355  14:11:00
2022-05-26 14:12:00           349  14:12:00
2022-05-26 14:13:00           346  14:13:00
2022-05-26 14:14:00           340  14:14:00
2022-05-26 14:15:00           339  14:15:00
2022-05-26 14:16:00           328  14:16:00
2022-05-26 14:17:00           302  14:17:00
2022-05-26 14:18:00           300  14:18:00
2022-05-26 14:19:00           296  14:19:00
2022-05-26 14:20:00           294  14:20:00

In [153]:
def panel(row):
    if (row["dakika"].dt.time >= pd.to_datetime("13:30:00").time())&(row["dakika"].dt.time <= pd.to_datetime("14:20:00").time()):
        panel="1.Panel- Liderlerin Konuşması"
    elif (row["dakika"].dt.time >= pd.to_datetime("14:35:00").time())&(row["dakika"].dt.time <= pd.to_datetime("15:00:00").time()):
        panel="2.Panel- İş Alanları"
    elif (row["dakika"].dt.time >= pd.to_datetime("15:10:00").time())&(row["dakika"].dt.time <= pd.to_datetime("15:55:00").time()):
        panel="3.Panel- Teknoloji Liderleri ile Buluşma"
    else:
        panel="Mola/Bitiş"

dfdate["panel"]=dfdate.apply(lambda row:panel(row),axis=1)


"""
panel = []
dfdate = dfdate.set_index('dakika')
for row in dfdate['katilimcilar']:
    if dfdate.between_time('13:30:00','14:20:00') :   
        panel.append('1.Panel- Liderlerin Konuşması')
    elif dfdate.between_time('14:35:00','15:00:00') :   
        panel.append('2.Panel- İş Alanları')
    elif dfdate.between_time('15:10:00','15:55:00'):   
        panel.append('3.Panel- Teknoloji Liderleri ile Buluşma')
    else:
        panel.append('Mola-Bitiş')"""

KeyError: 'dakika'